<h2>New trip</h2>
<div class="row">
  <div class="medium-6 columns">
    <label for='name'>Name
      {{input name='name' value=model.name}}
    </label>
    <label for='distance'>Distance
      {{input name='distance' value=model.distance}}
    </label>
    <label for='tripDate'>Start Date
      {{input type='date' name='tripDate' value=model.tripDate}}
    </label>
    <button {{action 'saveTrip' model}} class="tiny">Save</button>
    <button {{action 'cancel'}} class="tiny secondary">Cancel</button>
  </div>
</div>
